# Node.js



# Archivos de configuración
.env

# Archivos de registro y salida
/logs
*.log

# Archivos de respaldo y temporales
*.bak
*.tmp

# Dependencias específicas del sistema operativo
.DS_Store
Thumbs.db

#variables de entorno
.env
